@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Public Sans', system-ui, sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

::view-transition-group(nav-item-active) {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
